*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #458ed3;
}
.task_container
{
    background-color: rgb(238, 234, 196);
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.task-nav
{
    width: 100%;
    height: 7vh;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.task-nav .btn input
{
    height: 35px;
    width: 80px;
    font-family: monospace;
    font-size: 20px;
    overflow: hidden;
}
.task-nav .btn input:hover  
{
    background-color: khaki;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    
}
.task_container .add-task
{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 5px;
}
.add-task ul 
{
    width: 100%;
    height: 100%;
}
.add-task ul li
{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 8vh;
}
.add-task ul li i
{
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}